.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(80, 146, 146);
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    align-content: center;
    height: 400px;

}

.flex-container>div {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    margin: 10px;
}